<div>
  <h2 id="page-heading" data-cy="GameHeading">
    <span jhiTranslate="bglsApp.game.home.title">Games</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="bglsApp.game.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game"
        [disabled]="isDisabled"
        [routerLink]="['/game/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bglsApp.game.home.createLabel">Create a new Game</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (games?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bglsApp.game.home.notFound">No Games found</span>
    </div>
  }

  @if (games && games.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="bglsApp.game.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cover">
              <div class="d-flex">
                <span jhiTranslate="bglsApp.game.cover">Cover</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="console.name">
              <div class="d-flex">
                <span jhiTranslate="bglsApp.game.console">Console</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (game of games; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ game.name }}</td>
              <td>
                @if (game.cover) {
                  <a (click)="openFile(game.cover, game.coverContentType)" class="game-cover-container">
                    <img [src]="'data:' + game.coverContentType + ';base64,' + game.cover" alt="Game Cover" class="game-cover-image" />
                  </a>
                }
              </td>
              <td>
                @if (game.console) {
                  <div>
                    <a [routerLink]="['/console', game.console.id, 'view']">{{ game.console.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/game', game.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  @if (!isDisabled) {
                    <a [routerLink]="['/game', game.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>

                    <button type="submit" (click)="delete(game)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
