name: bgls
services:
  sonar:
    container_name: sonarqube
    image: sonarqube:community
    ports:
      - '9000:9000'
    environment:
      - SONAR_FORCEAUTHENTICATION=true
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=*hskDFs1^H4!SdPi
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
