<div>
  <h2 id="page-heading" data-cy="ConsoleHeading">
    <span jhiTranslate="bglsApp.console.home.title">Consoles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="bglsApp.console.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-console"
        [disabled]="isDisabled"
        [routerLink]="['/console/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bglsApp.console.home.createLabel">Create a new Console</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (consoles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bglsApp.console.home.notFound">No Consoles found</span>
    </div>
  }

  @if (consoles && consoles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="bglsApp.console.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span jhiTranslate="bglsApp.console.image">Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (console of consoles; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/console', console.id, 'view']">{{ console.id }}</a>
              </td>
              <td>{{ console.name }}</td>
              <td>
                @if (console.image) {
                  <a (click)="openFile(console.image, console.imageContentType)">
                    <img [src]="'data:' + console.imageContentType + ';base64,' + console.image" style="max-height: 30px" alt="console" />
                  </a>
                  <span>{{ console.imageContentType }}, {{ byteSize(console.image) }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/console', console.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  @if (!isDisabled) {
                    <a [routerLink]="['/console', console.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>

                    <button
                      type="submit"
                      (click)="delete(console)"
                      class="btn btn-danger btn-sm"
                      data-cy="entityDeleteButton"
                      [disabled]="isDisabled"
                    >
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
